nav{

    ul{

        li{

            a{
                color: gray;
                font-size: 19px;
            }

            a:hover{
                color: #333;
            }

        }

    }

}