<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 main">
      <form id="formRegister">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFirstName" id='labela'>First Name</label>
            <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstName" id="inputFirstName" placeholder="first name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputLastName" id='labela'>Last name</label>
            <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" id="inputLastName" placeholder="last name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputUsername" id='labela'>Username</label>
          <input type="text" class="form-control" [(ngModel)]="user.username" name="username" id="inputUsername" placeholder="username">
        </div>
        <div class="form-group">
          <label for="inputPassword" id='labela'>Password</label>
          <input type="password" class="form-control" [(ngModel)]="user.password" name="password" id="inputPassword" placeholder="password">
        </div>
        <button type="submit" class="btn btn-primary" (click)="register()">Submit</button>
      </form>
    </div>
  </div>
</div>
