html body {
    background-image: url('../photo/photo58.jpeg');');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#logoDiv {
    text-align: center;
}

#logo {
    font-size: 50px;
    font-style: italic;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#formRegister {
    padding-top: 100px;
}

#labela {
    color: white;
}

#registerSubmit {
    background: #d9534f;
    color: white;
    float: right;
}

#registerSubmit:hover {
    background: white;
    color: #d9534f;
}

#categoryID {
	margin-bottom: 10px;
}