html body {
    background-color: #424242;
}

.nav-item {
    cursor: pointer;
}

#logoDiv {
    text-align: center;
}

#logo {
    font-size: 50px;
    font-style: italic;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#navbar {
    font-size: 20px;
    color: white;
    padding: 20px;
    padding-top: 25px;
}

#navv > a {
    color: white;
    font-size: 22px;
}

#navv > a:hover {
    color: #d9534f;
}

#navDivv {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

#navII {
    color: white;
}

#navII:hover {
    color: #d9534f;
}

#navRR {
    color: white;
}

#navRR:hover {
    color: #d9534f;
}

#navbarDropdown {
    color: white;
}

#navbarDropdown:hover {
    background: none;
    color: #d9534f;
}

#picture {
    width: 100%;
    height: 300px;
    margin-top: 75px;
}

#userDiv {
    margin-top: 75px;
    padding: 5px;
}

#dataUsername {
    color: white;
    font-size: 40px;
    text-decoration: none;
    cursor: pointer;
    font-style: italic;
}

#dataUsername:hover {
    color: #d9534f;
}

#userDiv > p {
    color: white;
    font-size: 25px;
}

#editDataButton {
    margin-top: 30px;
}

#labela {
    color: white;
}

.submitNewDataUser {
    font-size: 20px;
    margin: 4px;
}

.form-group {
    opacity: 0.7;
}

.form-group:hover {
    opacity: 1;
}

#dataEditName {
    border: 1px solid #d9d9d9;
    margin-top: 30px;
    padding: 10px;
    display: none;

}

.editButtonP {
    font-size: 22px;
    margin-right: 10px;
}

.submitDataNameNew {
    font-size: 20px;
    margin: 4px;
}

#addBoook {
    display: none;
}
