html body {
    background-image: url('../photo/photo58.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav-item {
    cursor: pointer;
}

#logoDiv {
    text-align: center;
}

#logo {
    font-size: 50px;
    font-style: italic;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#navbar {
    font-size: 20px;
    color: white;
    padding: 20px;
    padding-top: 25px;
}

#navv > a {
    color: white;
    font-size: 22px;
}

#navv > a:hover {
    color: #d9534f;
}

#navDivv {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

#navII {
    color: white;
}

#navII:hover {
    color: #d9534f;
}

#navRR {
    color: white;
}

#navRR:hover {
    color: #d9534f;
}

#navbarDropdown {
    color: white;
}

#navbarDropdown:hover {
    background: none;
    color: #d9534f;
}

#addBoook {
    display: none;
}

#titleUpload {
	color: white;
	margin: 15px;
	text-align: center;
}

#uploadd {
	margin-top: 15px;
	font-size: 18px;
	color: white;
	cursor: pointer;
	background: #333;
}

#btnSubmit {
	margin-top: 15px;
}

#titlee {
	margin-top: 20px;
}

#labelLanguage {
	padding-top: 10px;
	color: white;
}

#labelCategory {
	padding-top: 10px;
	color: white;
}

#author {
	margin-top: 15px;
}

#btnSubmit {
	display: none;
}