html body {
	background-color: #424242;
}

.nav-item {
	cursor: pointer;
}

#logoDiv{
	text-align: center;
}

#logo {
	font-size: 50px;
	font-style: italic;
	color: white;
	padding: 10px;
	cursor: pointer;
}

#navbar {
	font-size: 20px;
	color: white;
	padding: 20px;
	padding-top: 25px;
}

#navv > a{
	color: white;
	font-size: 22px;
}

#navv > a:hover {
	color: #d9534f;
}

#navDivv {
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

#navII {
	color: white;
}

#navII:hover {
	color: #d9534f;
}

#navRR {
	color: white;
}

#navRR:hover {
	color: #d9534f;
}

#navbarDropdown {
	color: white;
}

#navbarDropdown:hover {
	background: none;
	color: #d9534f;
}

#picture {
	width: 100%;
	height: 300px;
	margin-top: 75px;
}

#bookDiv {
	margin-top: 75px;
	padding: 5px;
}

#titleBook {
	color: white;
	font-size: 40px;
	text-decoration: none;
	cursor: pointer;
	font-style: italic;
}

#titleBook:hover {
	color: #d9534f;
}

#authorBook {
	color: white;
	font-size: 25px;
}

#yearBook {
	color: white;
	font-size: 20px;
}

#filenameBook {
	color: white;
	font-size: 20px;
	cursor: pointer;
}

#bookDataButton {
	margin-top: 30px;
}

.editButtonBook {
	font-size: 22px;
}

#addBoook {
	display: none;
}

.download-Book {
	margin-top:30px;
}




.popup {
	margin-top: 15px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    font-size: 20px;
    background-color: #5cb85c;
    border-radius: 5px;
    padding: 3px;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #d9d9d9;
    color: #d9534f;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -180%;
    left: 50%;
    margin-left: -80px;
    text-decoration: none;
    font-size: 17px;
}

.popuptext:hover {
	color: black;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}