body {
    background-size: cover;
    background: url('../photo/photo9.jpeg') no-repeat center center fixed;
}

#logoDiv{
	text-align: center;
}

#logo {
	font-size: 50px;
	font-style: italic;
	color: white;
	padding: 10px;
	cursor: pointer;
}

#formLogin {
	padding-top: 140px;
}

#labela {
	color: white;
}

#loginSubmit {
	background: #d9534f;
	color: white;
	float: right;
}

#loginSubmit:hover {
	background: white;
	color: #d9534f;
}

#message {
	display: none;
	color: white;
	font-size: 18px;
	padding: 6px;
	border: 1px solid #d9534f;
	width: 150px;
}