html body {
    background-image: url('../photo/photo58.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav-item {
    cursor: pointer;
}

#logoDiv {
    text-align: center;
}

#logo {
    font-size: 50px;
    font-style: italic;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#navbar {
    font-size: 20px;
    color: white;
    padding: 20px;
    padding-top: 25px;
}

#navv > a {
    color: white;
    font-size: 22px;
}

#navv > a:hover {
    color: #d9534f;
}

#navDivv {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

#navII {
    color: white;
}

#navII:hover {
    color: #d9534f;
}

#navRR {
    color: white;
}

#navRR:hover {
    color: #d9534f;
}

#navbarDropdown {
    color: white;
}

#navbarDropdown:hover {
    background: none;
    color: #d9534f;
}

#divCards {
    padding: 50px;
}

.card {
    width: 13rem;
    margin: 10px;
    text-align: center;
}

.card-title {
    font-size: 25px;
    text-decoration: none;
    font-style: italic;
    color: #d9534f;
}

.card-title:hover {
    text-decoration: none;
    color: #428bca;
}

.card-body > p {
    margin: 0;
}

#roleD {
    padding: 10px;
}

#addBoook {
    display: none;
}
