<div class="container-fluid">
  <div class="row" id="firstRow">
    <div class="col-1"></div>
    <div class="col-10 row">
      <div class="col-2">
        <nav class="nav flex-column" *ngFor="let category of categories">
          <a class='nav-link' href='#' (click)="loadAllBookForOneCategory()">{{category.name}}</a>
        </nav>
      </div>
      <div class="col-10" id="allBooks">
        <div class="card" *ngFor="let book of books">
          <div class="card-body">
            <a href="#" class="card-link">{{book.title}}</a>
            <p class="card-text">{{book.author}}</p>
            <p class="card-text">{{book.publicationYear}}</p>
            <a href="#" class="btn btn-primary"><i class="fas fa-download"></i> Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
